<application>
  <component name="MyBatisCodeHelper">
    <option name="profile">
      <Profile>
        <option name="alreadyTrail" value="true" />
        <option name="ifTestStringNullAndEmpty" value="true" />
        <option name="maxMeetContext" value="58" />
        <option name="trailKey" value="free3134696f856f4cb1a9af57b111ec1272" />
        <option name="useD1" value="1704417333130" />
        <option name="valid" value="true" />
      </Profile>
    </option>
  </component>
</application>